<%= form_tag students_path do%>
<h1>Student Form</h1>
<h1>First Name Here</h1>
<%= text_field_tag 'first_name' %>
<h1>Last Name Here</h1>
<%= text_field_tag 'last_name' %>
<%= submit_tag "Submit Student" %>
<% end %>
